.summary{
    padding: 8% 5%;
    @include media-tablet{
        padding: 3% 5%  0;
    }
    h2{
        @include media-desktop{
            font-size: .9em;
        }
    }
    .step-container{
        padding-top: 10%;
        margin: 0 auto;
        width: 95%;
        @include media-tablet{
            @include display-component(flex, row, unset, space-between);
            flex-wrap: wrap;
            padding-top: 5%;
            margin: 0;
        }
        @include media-desktop{
            padding-top: 2%;
        }
    }
    .step{
        background-color: lighten($light-grey, 5%);
        font-weight: 500;
        height: 20vmin;
        position: relative;
        border-radius: 20px;
        box-shadow: 6px 6px 20px -14px $dark-grey;
        transition: all .5s ease-out;
        margin-bottom: 3vh;
        padding-left: 22vmin;
        @include display-component(flex,row,center,left);
        @include media-tablet{
            @include adaptative-HW(9vmin, 30%);
            font-size: .6em;
            padding-left: 10vmin;
        }
        @include media-desktop{
            padding-left: 6%;
            width: 20%;
        }
        &:hover{
            background-color: #f5edff;
            transform: scale(1.1);
            color: $color-primary;
            box-shadow: 14px 14px 20px -14px $dark-grey;
            i{
                color: $color-primary;
            }
        }
        .number-span{
            margin-right: 20%;
            color: white;
            position: absolute;
            right: 67vmin;
            z-index: 1;
            @include media-tablet{
                right: 28vmin;
            }
            @include media-desktop{
                left: 0;
            }
            &::after{
                content:"";
                background: $color-primary;
                @include adaptative-HW(1.5em, 1.5em);
                position: absolute;
                border-radius: 50%;
                z-index: -1;
                left:-2vmin;
                top: -.5vmin;
                @include media-tablet{
                    left: -1vmin;
                }
            }
        }
        i{
            position: absolute;
            left: 11%;
            color: lighten($dark-grey, 30%);
            transition: all .5s ease-out;
        }
    }
}
.restaurant{
    background-color: lighten($light-grey, 5%);
    padding: 10% 5%;
    @include media-tablet{
        display: flex;
        flex-wrap: wrap;
    }
    h2{
        @include media-tablet{
            width: 100%;
        }
        @include media-desktop{
            font-size: .9em;
        }
    }
    .card{
        position: relative;
        margin: 10% auto;
        @include adaptative-HW(70vmin, 90vmin);
        background: #fff;
        box-shadow: 6px 6px 20px -14px $dark-grey;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        @include media-tablet{
            @include adaptative-HW(40vmin, 48%);
            margin: 2% auto;
        }
        a{
            position: absolute;
            height: 100%;
            width: 100%;
            z-index: 100;
        }
        img{
            @include adaptative-HW(71%, 100%);
            object-fit: cover;
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
            object-position: 100% 61%;
        }
        span{
            background: $color-third;
            position: absolute;
            color: darken($color-third, 40%);
            z-index: 1000;
            right: 3vmin;
            top:3vmin;
            padding: 0.4em .7em;
            font-size: .9em;
            @include media-tablet{
                font-size: .6em;
            }
        }
    }
    .card-legend{
        position: absolute;
        top: 54vmin;
        left: 5vmin;
        @include media-tablet{
            top: 30vmin;
            font-size: .7em;
        }
        h3{
            font-weight: bold;
        }
        i{
            position: absolute;
            left: 70vmin;
            top:2vmin;
            font-size: 1.6em;
            z-index: 100;
            cursor: pointer;
            @include media-tablet{
                left: 30vmin;
                top: 0;
            }
            @include media-desktop{
                right: 0;
            }
            &:hover{
                transition: all .5s ease-in-out;
                color:$color-primary;
                font-weight: 900;
            }
        }
    }
}
.header-menu-img{
    height: 75vmin;
    @include media-desktop{
        height: 55vmin;
    }
    .img-note-enchantee{
        position: absolute;
        left: 0;
        bottom: 62vmin;
        z-index: -1;
    }
    img{
        width: 100%;
        @include media-desktop{
            position: absolute;
            left: 0;
            bottom: 3vmin;
            z-index: -1;
        }
    }
}
.restaurants{
    background-color: lighten($light-grey, 5%);
    @include media-desktop{
        background-color: #fff;
    }
}
.menu{
    background-color: lighten($light-grey, 5%);
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    position: relative;
    bottom: 16vmin;
    @include media-desktop{
        width: 85%;
        margin: auto;
        border-bottom-left-radius: 40px;
        border-bottom-right-radius: 40px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    h2{
        font-family: $font-logo;
        display: inline-block;
        margin-right: 7vmin;
        font-weight: normal;
        font-size: 1.75em;
        @include media-desktop{
            width: 80%;
        }
    }
    a{
        @extend %btn-links;
        text-align: center;
        width: 40%;
        margin: auto;
        position: relative;
        top:10vmin;
        @include media-desktop{
            width: 50%;
        }
    }
    i{
        font-size: 1.6em;
        cursor: pointer;
    }
    .menu-title{
        font-size: 1em;
        font-weight: 200;
        text-transform: uppercase;
        padding: 7% 0 5% 0;
        &::after{
            content: "";
            height: 3px;
            background: $color-third;
            width: 11vmin;
            display: block;
        }
    }
    .menu-list{
        @include media-desktop{
            width: 30%;
        }
    }
    @for $i from 1 through 9 {
        .menu-list .anime-item-#{$i}{
            animation-delay: ($i * .1s);
        }
    }
    .menu-item{
        background: #fff;
        @include display-component(flex, unset, flex-end, space-between);
        transform: scale(0);
        animation: apparition .5s ease 1s 1 normal forwards;
        border-radius: 15px;
        margin: 4vmin auto;
        cursor: pointer;
        overflow: hidden;
        box-shadow: 6px 6px 20px -14px $dark-grey;
        @include media-desktop{
            font-size: .5em;
        }
        .check{
            @include display-component(flex, unset, center, center);
            transform: translateX(100%);
            background: $color-third;
            color: white;
            border-bottom-right-radius: 15px;
            border-top-right-radius: 15px;
            transition: all .3s ease-out;
            padding: 1px;
        }
        &:hover{
            .check{
                width: 25%;
                margin-left: 25px;
                transform: translateX(0);
                i{
                    transform: rotate(3turn);
                    transition: all .7s ease;
                }
            }
        }
        .item-header{
            overflow: hidden;
            white-space: nowrap;
            padding: 1em 0 1em 1em;
            width: 83%;
        }
    }
    .plates{
        font-weight: bold;
        width: 100%;
        margin-bottom: 1vmin;
        font-size: 1.1em;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .ingredient{
        font-weight: 200;
        margin-right: auto;
        width: 100%;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    .price{
        font-weight: bold;
        padding-bottom: 1em;
    }
}
@keyframes apparition{
    0%{
        opacity: 0;
        transform: translateY(10%);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}