@import './placeholders';
@import './variables.scss';
// Style des element qui ne changeront pas à travers les pages
.overlay{
    height: 100%;
    width: 100%;
    position: fixed;
    background: linear-gradient($color-primary, $color-third);
    z-index: 10000;
    @include display-component(flex, inherit, center, center);
    animation: loader 0s cubic-bezier(0.445, 0.05, 0.55, 0.95) 2s 1 forwards;
    i{
        color: white;
        font-size:8em;
        animation: spinner 1s cubic-bezier(0.455, 0.03, 0.515, 0.955) .5s infinite none;
    }
}
header{
    @include display-component(flex, column, center, normal);
    .arrow-title{
        @include display-component(flex, row, center, center);
        width: 100%;
        background: #fff;
        margin: 0 auto;
        i{
            color: $dark-grey;
        }
    }
    .logo{
        @extend %logo;
        margin: 2% 20%;
    }
    .localisation-container{
        @include adaptative-HW(13vmin, 100%);
        background: $light-grey;
        box-shadow: inset 0px 10px 8px -13px;
        @include display-component(flex, row, center, center);
        @include media-desktop{
            height: 10vmin;
        }
        .localisation{
            @include display-component(flex, row, inherit, space-between);
            width: calc(1rem + 32vmin);
            margin-right: 7%;
            color: $dark-grey;
            @include media-desktop{
                margin: 0;
                font-size: .7em;
                width: 25vmin;
            }
        }
    }
    .introduction{
        text-align: center;
        background-color: lighten($light-grey, 5%);
        @include adaptative-HW(77vmin, 100%);
        @include media-tablet{
            height: 55vmin;
        }
        .introduction-content{
            margin:11vmin auto;
            @include display-component(flex, column, center, space-around);
            @include adaptative-HW(70%, 90%);
            @include media-tablet{
                margin: 4vmin auto;
                height: 45vmin;
            }
            @include media-desktop{
                font-size: .9em;
            }
            h2{
                font-weight: bold;
                width: 75%;
            }
            p{
                font-weight: 100;
                color: $dark-grey;
            }
            a{
                @extend %btn-links;
                margin-top: 5%;
                @include media-tablet{
                    margin: 0;
                }
            }
        }
    }
}
footer{
    background: $dark-grey;
    color: white;
    padding:2% 7%;
    @include media-tablet{
        padding: 0;
        @include display-component(flex, column, center, center)
    }
    h3{
        @extend %logo;
        line-height: 3;
        @include media-desktop{
            line-height: 5;
        }
    }
    .links{
        padding-bottom: 10%;
        @include media-tablet{
            padding-bottom: 3%;
            width: 100%;
            @include display-component(flex,row, baseline, center)
        }
        .list-links {
            line-height: 1.7;
            cursor: pointer;
            @include media-tablet{
                width: 20%;
                text-align: center;
                font-size: .7em;
            }
        }
        i{
            margin-right: 2%;
            width: 1em;
        }
        a{
            color: white;
        }
    }
}
@include animation(loader){
    100%{
        opacity: 0;
        z-index: -100;
    }
}
@include animation(spinner){
    100%{
        transform: rotate(360deg);
    }
}