%logo{
    font-family:$font-logo;
}
%btn-links{
    background-image: linear-gradient($color-secondary, $color-primary);
    border-radius: 30px;
    color: white;
    padding: 5% 6%;
    box-shadow: 2px 2px 8px -2px lighten($dark-grey, 15%);
    display: block;
}