%logo{
    font-family:$font-logo;
}
%btn-links{
    background-image: linear-gradient($color-secondary, $color-primary);
    border-radius: 30px;
    color: white;
    padding: 4vmin 6vmin;
    box-shadow: 2px 2px 8px -2px lighten($dark-grey, 15%);
    display: block;
    transition: all .3s ease-in-out;
    @include media-tablet{
        padding: 2vmin 3vmin;
        font-size: .7em;
    }
    &:hover{
        opacity: .7;
        box-shadow: 10px 12px 10px -2px lighten($dark-grey, 15%);
    }
}