* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  border: 0;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: calc(.3em + 3vmin);
}

h2 {
  font-weight: bold;
}

footer h3, header .logo {
  font-family: "Shrikhand", cursive;
}

.menu a, header .introduction .introduction-content a {
  background-image: linear-gradient(#FF79DA, #9356DC);
  border-radius: 30px;
  color: white;
  padding: 4vmin 6vmin;
  box-shadow: 2px 2px 8px -2px #5b5b5b;
  display: block;
  transition: opacity 0.3s ease-in-out;
}
.menu a:hover, header .introduction .introduction-content a:hover {
  opacity: 0.7;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: normal;
}
header .arrow-title {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: center;
  width: 90%;
  margin: 0 auto;
}
header .arrow-title i {
  color: #353535;
}
header .logo {
  margin: 2% 20%;
}
header .localisation-container {
  height: 13vmin;
  width: 100%;
  background: #eaeaea;
  box-shadow: inset 0px 10px 8px -13px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 1050px) {
  header .localisation-container {
    height: 15vh;
  }
}
header .localisation-container .localisation {
  display: flex;
  flex-direction: row;
  align-items: inherit;
  justify-content: space-between;
  width: calc(1rem + 32vmin);
  margin-right: 7%;
  color: #353535;
}
@media screen and (min-width: 1050px) {
  header .localisation-container .localisation {
    margin: 0;
  }
}
header .introduction {
  text-align: center;
  background-color: #f7f7f7;
  height: 77vmin;
  width: 100%;
}
header .introduction .introduction-content {
  margin: 11vmin auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 70%;
  width: 90%;
}
@media screen and (min-width: 1050px) {
  header .introduction .introduction-content {
    margin: 3% auto;
  }
}
header .introduction .introduction-content h2 {
  font-weight: bold;
  width: 75%;
}
header .introduction .introduction-content p {
  font-weight: 100;
  color: #353535;
}
header .introduction .introduction-content a {
  margin-top: 5%;
}

footer {
  background: #353535;
  color: white;
  padding: 2% 7%;
}
@media screen and (min-width: 650px) {
  footer {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
footer h3 {
  line-height: 3;
}
@media screen and (min-width: 1050px) {
  footer h3 {
    line-height: 10;
  }
}
footer .links {
  padding-bottom: 10%;
}
@media screen and (min-width: 650px) {
  footer .links {
    padding-bottom: 3%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: center;
  }
}
footer .links .list-links {
  line-height: 1.7;
}
@media screen and (min-width: 650px) {
  footer .links .list-links {
    width: 20%;
    text-align: center;
    font-size: 0.7em;
  }
}
footer .links i {
  margin-right: 2%;
  width: 1em;
}
footer .links a {
  color: white;
}

.summary {
  padding: 10% 5%;
}
.summary .step-container {
  padding-top: 10%;
  margin: 0 auto;
  width: 95%;
}
.summary .step {
  background-color: #f7f7f7;
  font-weight: 500;
  height: 20vmin;
  position: relative;
  border-radius: 20px;
  box-shadow: 6px 6px 20px -14px #353535;
  transition: all 0.5s ease-out;
  margin-bottom: 3vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
}
.summary .step:hover {
  background-color: #f5edff;
  transform: scale(1.1);
  color: #9356DC;
  box-shadow: 14px 14px 20px -14px #353535;
}
.summary .step:hover i {
  color: #9356DC;
}
.summary .step .number-span {
  margin-right: 20%;
  color: white;
  position: relative;
  z-index: 1;
}
.summary .step .number-span::after {
  content: "";
  background: #9356DC;
  height: 7vmin;
  width: 7vmin;
  position: absolute;
  border-radius: 50%;
  z-index: -1;
  left: -2.2vmin;
  top: -1vmin;
}
.summary .step i {
  position: absolute;
  left: 11%;
  color: #828282;
  transition: all 0.5s ease-out;
}

.restaurant {
  background-color: #f7f7f7;
  padding: 10% 5%;
}
.restaurant .card {
  position: relative;
  margin: 10% auto;
  height: 70vmin;
  width: 90vmin;
  background: #fff;
  box-shadow: 6px 6px 20px -14px #353535;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
.restaurant .card a {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 100;
}
.restaurant .card img {
  height: 71%;
  width: 90vmin;
  object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  object-position: 100% 61%;
}
.restaurant .card span {
  background: #99E2D0;
  position: absolute;
  color: #278870;
  z-index: 1000;
  right: 3vmin;
  top: 3vmin;
  padding: 0.4em 0.7em;
  font-size: 0.9em;
  font-weight: bold;
}
.restaurant .card-legend {
  position: absolute;
  top: 54vmin;
  left: 5vmin;
}
.restaurant .card-legend h3 {
  font-weight: bold;
}
.restaurant .card-legend i {
  position: absolute;
  left: 70vmin;
  top: 2vmin;
  font-size: 1.6em;
}

.header-menu-img img {
  width: 100%;
}

.restaurants {
  background-color: #f7f7f7;
}

.menu {
  background-color: #f7f7f7;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  position: relative;
  bottom: 14vmin;
}
.menu h2 {
  font-family: "Shrikhand", cursive;
  display: inline-block;
  margin-right: 13vmin;
  font-weight: normal;
}
.menu a {
  text-align: center;
  width: 40%;
  margin: auto;
  position: relative;
  top: 10vmin;
}
.menu i {
  font-size: 1.6em;
}
.menu .menu-title {
  font-size: 1em;
  font-weight: 200;
  text-transform: uppercase;
  padding: 7% 0 5% 0;
}
.menu .menu-title::after {
  content: "";
  height: 3px;
  background: #99E2D0;
  width: 11vmin;
  display: block;
}
.menu .menu-item {
  background: #fff;
  border-radius: 15px;
  position: relative;
  margin: 4vmin auto;
  padding: 5% 3%;
  overflow: hidden;
  text-overflow: "...";
  white-space: nowrap;
  box-shadow: 6px 6px 20px -14px #353535;
}
.menu .menu-item:hover::before {
  content: "";
  transition: all 1s ease-in-out;
  background: #99E2D0;
  display: block;
  height: 100%;
  position: absolute;
  width: 25%;
  transform: translateX(0%);
  top: 0;
  right: 0;
}
.menu .plates {
  font-weight: bold;
  line-height: 2;
}
.menu .ingredient {
  font-weight: 200;
  display: inline-block;
  overflow: hidden;
  text-overflow: "...";
  white-space: nowrap;
  width: 87%;
}
.menu .price {
  font-weight: bold;
  margin-right: auto;
}

header .logo, footer h3 {
  font-family: "Shrikhand", cursive;
}

header .introduction .introduction-content a, .menu a {
  background-image: linear-gradient(#FF79DA, #9356DC);
  border-radius: 30px;
  color: white;
  padding: 4vmin 6vmin;
  box-shadow: 2px 2px 8px -2px #5b5b5b;
  display: block;
  transition: opacity 0.3s ease-in-out;
}
header .introduction .introduction-content a:hover, .menu a:hover {
  opacity: 0.7;
}

/*# sourceMappingURL=style.css.map */
