* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  border: 0;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: calc(.3em + 3vmin);
}

h2 {
  font-weight: bold;
}

footer h3, header .logo {
  font-family: "Shrikhand", cursive;
}

.menu a, header .introduction .introduction-content a {
  background-image: linear-gradient(#FF79DA, #9356DC);
  border-radius: 30px;
  color: white;
  padding: 4vmin 6vmin;
  box-shadow: 2px 2px 8px -2px #5b5b5b;
  display: block;
  transition: all 0.3s ease-in-out;
}
@media screen and (min-width: 650px) {
  .menu a, header .introduction .introduction-content a {
    padding: 2vmin 3vmin;
    font-size: 0.7em;
  }
}
.menu a:hover, header .introduction .introduction-content a:hover {
  opacity: 0.7;
  box-shadow: 10px 12px 10px -2px #5b5b5b;
}

.overlay {
  height: 100%;
  width: 100%;
  position: fixed;
  background: linear-gradient(#9356DC, #99E2D0);
  z-index: 10000;
  display: flex;
  flex-direction: inherit;
  align-items: center;
  justify-content: center;
  animation: loader 0s cubic-bezier(0.445, 0.05, 0.55, 0.95) 2s 1 forwards;
}
.overlay i {
  color: white;
  font-size: 8em;
  animation: spinner 1s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0.5s infinite none;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: normal;
}
header .arrow-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: #fff;
  margin: 0 auto;
}
header .arrow-title i {
  color: #353535;
}
header .logo {
  margin: 2% 20%;
}
header .localisation-container {
  height: 13vmin;
  width: 100%;
  background: #eaeaea;
  box-shadow: inset 0px 10px 8px -13px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 1050px) {
  header .localisation-container {
    height: 10vmin;
  }
}
header .localisation-container .localisation {
  display: flex;
  flex-direction: row;
  align-items: inherit;
  justify-content: space-between;
  width: calc(1rem + 32vmin);
  margin-right: 7%;
  color: #353535;
}
@media screen and (min-width: 1050px) {
  header .localisation-container .localisation {
    margin: 0;
    font-size: 0.7em;
    width: 25vmin;
  }
}
header .introduction {
  text-align: center;
  background-color: #f7f7f7;
  height: 77vmin;
  width: 100%;
}
@media screen and (min-width: 650px) {
  header .introduction {
    height: 55vmin;
  }
}
header .introduction .introduction-content {
  margin: 11vmin auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 70%;
  width: 90%;
}
@media screen and (min-width: 650px) {
  header .introduction .introduction-content {
    margin: 4vmin auto;
    height: 45vmin;
  }
}
@media screen and (min-width: 1050px) {
  header .introduction .introduction-content {
    font-size: 0.9em;
  }
}
header .introduction .introduction-content h2 {
  font-weight: bold;
  width: 75%;
}
header .introduction .introduction-content p {
  font-weight: 100;
  color: #353535;
}
header .introduction .introduction-content a {
  margin-top: 5%;
}

footer {
  background: #353535;
  color: white;
  padding: 2% 7%;
}
@media screen and (min-width: 650px) {
  footer {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
footer h3 {
  line-height: 3;
}
@media screen and (min-width: 1050px) {
  footer h3 {
    line-height: 10;
  }
}
footer .links {
  padding-bottom: 10%;
}
@media screen and (min-width: 650px) {
  footer .links {
    padding-bottom: 3%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: center;
  }
}
footer .links .list-links {
  line-height: 1.7;
  cursor: pointer;
}
@media screen and (min-width: 650px) {
  footer .links .list-links {
    width: 20%;
    text-align: center;
    font-size: 0.7em;
  }
}
footer .links i {
  margin-right: 2%;
  width: 1em;
}
footer .links a {
  color: white;
}

@keyframes loader {
  100% {
    opacity: 0;
    z-index: -100;
  }
}
@keyframes spinner {
  100% {
    transform: rotate(360deg);
  }
}
.summary {
  padding: 8% 5%;
}
@media screen and (min-width: 650px) {
  .summary {
    padding: 3% 5% 0;
  }
}
@media screen and (min-width: 1050px) {
  .summary h2 {
    font-size: 0.9em;
  }
}
.summary .step-container {
  padding-top: 10%;
  margin: 0 auto;
  width: 95%;
}
@media screen and (min-width: 650px) {
  .summary .step-container {
    display: flex;
    flex-direction: row;
    align-items: unset;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 5%;
    margin: 0;
  }
}
@media screen and (min-width: 1050px) {
  .summary .step-container {
    padding-top: 2%;
  }
}
.summary .step {
  background-color: #f7f7f7;
  font-weight: 500;
  height: 20vmin;
  position: relative;
  border-radius: 20px;
  box-shadow: 6px 6px 20px -14px #353535;
  transition: all 0.5s ease-out;
  margin-bottom: 3vh;
  padding-left: 22vmin;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
}
@media screen and (min-width: 650px) {
  .summary .step {
    height: 9vmin;
    width: 30%;
    font-size: 0.6em;
    padding-left: 10vmin;
  }
}
@media screen and (min-width: 1050px) {
  .summary .step {
    padding-left: 6%;
    width: 20%;
  }
}
.summary .step:hover {
  background-color: #f5edff;
  transform: scale(1.1);
  color: #9356DC;
  box-shadow: 14px 14px 20px -14px #353535;
}
.summary .step:hover i {
  color: #9356DC;
}
.summary .step .number-span {
  margin-right: 20%;
  color: white;
  position: absolute;
  right: 67vmin;
  z-index: 1;
}
@media screen and (min-width: 650px) {
  .summary .step .number-span {
    right: 28vmin;
  }
}
@media screen and (min-width: 1050px) {
  .summary .step .number-span {
    left: 0;
  }
}
.summary .step .number-span::after {
  content: "";
  background: #9356DC;
  height: 1.5em;
  width: 1.5em;
  position: absolute;
  border-radius: 50%;
  z-index: -1;
  left: -2vmin;
  top: -0.5vmin;
}
@media screen and (min-width: 650px) {
  .summary .step .number-span::after {
    left: -1vmin;
  }
}
.summary .step i {
  position: absolute;
  left: 11%;
  color: #828282;
  transition: all 0.5s ease-out;
}

.restaurant {
  background-color: #f7f7f7;
  padding: 10% 5%;
}
@media screen and (min-width: 650px) {
  .restaurant {
    display: flex;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 650px) {
  .restaurant h2 {
    width: 100%;
  }
}
@media screen and (min-width: 1050px) {
  .restaurant h2 {
    font-size: 0.9em;
  }
}
.restaurant .card {
  position: relative;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  margin: 10% auto;
  height: 70vmin;
  width: 90vmin;
  background: #fff;
  box-shadow: 6px 6px 20px -14px #353535;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
@media screen and (min-width: 650px) {
  .restaurant .card {
    height: 40vmin;
    width: 48%;
    margin: 2% auto;
  }
}
.restaurant .card a {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 100;
}
.restaurant .card img {
  height: 71%;
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  object-position: 100% 61%;
}
.restaurant .card span {
  background: #99E2D0;
  position: absolute;
  color: #278870;
  z-index: 1000;
  right: 3vmin;
  top: 3vmin;
  padding: 0.4em 0.7em;
  font-size: 0.9em;
}
@media screen and (min-width: 650px) {
  .restaurant .card span {
    font-size: 0.6em;
  }
}
.restaurant .card-legend {
  position: absolute;
  top: 54vmin;
  left: 5vmin;
}
@media screen and (min-width: 650px) {
  .restaurant .card-legend {
    top: 30vmin;
    font-size: 0.7em;
  }
}
.restaurant .card-legend h3 {
  font-weight: bold;
}
.restaurant .card-legend i {
  position: absolute;
  left: 70vmin;
  top: 2vmin;
  font-size: 1.6em;
  z-index: 100;
  cursor: pointer;
}
@media screen and (min-width: 650px) {
  .restaurant .card-legend i {
    left: 30vmin;
    top: 0;
  }
}
@media screen and (min-width: 1050px) {
  .restaurant .card-legend i {
    right: 0;
  }
}
.restaurant .card-legend i:hover {
  transition: all 0.5s ease-in-out;
  color: #9356DC;
  font-weight: 900;
}

.header-menu-img {
  height: 75vmin;
}
@media screen and (min-width: 1050px) {
  .header-menu-img {
    height: 55vmin;
  }
}
.header-menu-img .img-note-enchantee {
  position: absolute;
  left: 0;
  bottom: 62vmin;
  z-index: -1;
}
.header-menu-img img {
  width: 100%;
}
@media screen and (min-width: 1050px) {
  .header-menu-img img {
    position: absolute;
    left: 0;
    bottom: 3vmin;
    z-index: -1;
  }
}

.restaurants {
  background-color: #f7f7f7;
}
@media screen and (min-width: 1050px) {
  .restaurants {
    background-color: #fff;
  }
}

.menu {
  background-color: #f7f7f7;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  position: relative;
  bottom: 16vmin;
}
@media screen and (min-width: 1050px) {
  .menu {
    width: 85%;
    margin: auto;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
.menu h2 {
  font-family: "Shrikhand", cursive;
  display: inline-block;
  margin-right: 7vmin;
  font-weight: normal;
  font-size: 1.75em;
}
@media screen and (min-width: 1050px) {
  .menu h2 {
    width: 80%;
  }
}
.menu a {
  text-align: center;
  width: 40%;
  margin: auto;
  position: relative;
  top: 10vmin;
}
@media screen and (min-width: 1050px) {
  .menu a {
    width: 50%;
  }
}
.menu i {
  font-size: 1.6em;
  cursor: pointer;
}
.menu .menu-title {
  font-size: 1em;
  font-weight: 200;
  text-transform: uppercase;
  padding: 7% 0 5% 0;
}
.menu .menu-title::after {
  content: "";
  height: 3px;
  background: #99E2D0;
  width: 11vmin;
  display: block;
}
@media screen and (min-width: 1050px) {
  .menu .menu-list {
    width: 30%;
  }
}
.menu .menu-list .anime-item-1 {
  animation-delay: 0.1s;
}
.menu .menu-list .anime-item-2 {
  animation-delay: 0.2s;
}
.menu .menu-list .anime-item-3 {
  animation-delay: 0.3s;
}
.menu .menu-list .anime-item-4 {
  animation-delay: 0.4s;
}
.menu .menu-list .anime-item-5 {
  animation-delay: 0.5s;
}
.menu .menu-list .anime-item-6 {
  animation-delay: 0.6s;
}
.menu .menu-list .anime-item-7 {
  animation-delay: 0.7s;
}
.menu .menu-list .anime-item-8 {
  animation-delay: 0.8s;
}
.menu .menu-list .anime-item-9 {
  animation-delay: 0.9s;
}
.menu .menu-item {
  background: #fff;
  display: flex;
  flex-direction: unset;
  align-items: initial;
  justify-content: space-between;
  transform: scale(0);
  animation: apparition 0.5s ease 1s 1 normal forwards;
  border-radius: 15px;
  margin: 4vmin auto;
  cursor: pointer;
  overflow: hidden;
  box-shadow: 6px 6px 20px -14px #353535;
}
@media screen and (min-width: 1050px) {
  .menu .menu-item {
    font-size: 0.5em;
  }
}
.menu .menu-item .check {
  display: flex;
  flex-direction: unset;
  align-items: center;
  justify-content: center;
  transform: translateX(100%);
  background: #99E2D0;
  color: white;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  transition: all 0.3s ease-out;
  padding: 1px;
}
.menu .menu-item:hover .check {
  width: 25%;
  margin-left: 25px;
  transform: translateX(0);
}
.menu .menu-item:hover .check i {
  transform: rotate(1turn);
  transition: all 0.7s ease;
}
.menu .menu-item .item-header {
  overflow: hidden;
  white-space: nowrap;
  padding: 1em 0 1em 1em;
  width: 83%;
}
.menu .plates {
  font-weight: bold;
  width: 100%;
  margin-bottom: 1vmin;
  font-size: 1.1em;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu .ingredient {
  font-weight: 200;
  margin-right: auto;
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
}
.menu .price {
  font-weight: bold;
  padding-bottom: 1em;
  align-self: flex-end;
}

@keyframes apparition {
  0% {
    opacity: 0;
    transform: translateY(10%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
header .logo, footer h3 {
  font-family: "Shrikhand", cursive;
}

header .introduction .introduction-content a, .menu a {
  background-image: linear-gradient(#FF79DA, #9356DC);
  border-radius: 30px;
  color: white;
  padding: 4vmin 6vmin;
  box-shadow: 2px 2px 8px -2px #5b5b5b;
  display: block;
  transition: all 0.3s ease-in-out;
}
@media screen and (min-width: 650px) {
  header .introduction .introduction-content a, .menu a {
    padding: 2vmin 3vmin;
    font-size: 0.7em;
  }
}
header .introduction .introduction-content a:hover, .menu a:hover {
  opacity: 0.7;
  box-shadow: 10px 12px 10px -2px #5b5b5b;
}

/*# sourceMappingURL=style.css.map */
